<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_animal14_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1371},{374,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{374,400}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,400},{376,384}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{376,384}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{376,384}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{376,384}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,388},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,786},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1180},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1168},{372,378}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{372,378}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,790},{364,388}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{364,388}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{370,396}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{370,396}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1371},{370,396}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{370,396}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,400},{364,388}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{364,388}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,758},{372,378}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{372,378}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,380},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1562},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{376,380}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>ball_animal15_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{376,384}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{376,384}}</string>
                <key>sourceSize</key>
                <string>{376,400}</string>
            </dict>
            <key>list33_panda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{376,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,467}}</string>
                <key>sourceSize</key>
                <string>{376,467}</string>
            </dict>
            <key>list34_panda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,467}}</string>
                <key>sourceSize</key>
                <string>{376,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal8.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c243f6b89601f332c3a77674a0e359f$</string>
            <key>textureFileName</key>
            <string>animal8.pvr</string>
        </dict>
    </dict>
</plist>
