<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_animal1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{314,666}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{314,666}}</string>
                <key>sourceSize</key>
                <string>{362,666}</string>
            </dict>
            <key>ball_animal1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,666}}</string>
                <key>sourceSize</key>
                <string>{362,666}</string>
            </dict>
            <key>ball_animal2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{271,501}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{271,501}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,870},{413,359}}</string>
                <key>offset</key>
                <string>{12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,142},{413,359}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1259},{437,363}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,138},{437,363}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,870},{413,359}}</string>
                <key>offset</key>
                <string>{12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,142},{413,359}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1259},{437,363}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,138},{437,363}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,870},{413,359}}</string>
                <key>offset</key>
                <string>{12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,142},{413,359}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,870},{349,389}}</string>
                <key>offset</key>
                <string>{44,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,112},{349,389}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,670},{307,441}}</string>
                <key>offset</key>
                <string>{65,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,60},{307,441}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1338},{309,485}}</string>
                <key>offset</key>
                <string>{64,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,16},{309,485}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{271,501}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{271,501}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{271,501}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{271,501}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1338},{309,485}}</string>
                <key>offset</key>
                <string>{64,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,16},{309,485}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,670},{307,441}}</string>
                <key>offset</key>
                <string>{65,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,60},{307,441}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,870},{349,389}}</string>
                <key>offset</key>
                <string>{44,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,112},{349,389}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,870},{413,359}}</string>
                <key>offset</key>
                <string>{12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,142},{413,359}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1259},{437,363}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,138},{437,363}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,870},{413,359}}</string>
                <key>offset</key>
                <string>{12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,142},{413,359}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1259},{437,363}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,138},{437,363}}</string>
                <key>sourceSize</key>
                <string>{437,501}</string>
            </dict>
            <key>ball_animal3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1841},{169,119}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{169,119}}</string>
                <key>sourceSize</key>
                <string>{169,129}</string>
            </dict>
            <key>ball_animal3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1841},{169,117}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,117}}</string>
                <key>sourceSize</key>
                <string>{169,129}</string>
            </dict>
            <key>ball_animal4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,870},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1221},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1665},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1698},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1156},{336,284}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1698},{342,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,818},{336,284}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,284}}</string>
                <key>sourceSize</key>
                <string>{342,284}</string>
            </dict>
            <key>ball_animal5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,436},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1231},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,410},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,410},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1231},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,436},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,436},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,436},{432,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,406}}</string>
                <key>sourceSize</key>
                <string>{434,406}</string>
            </dict>
            <key>ball_animal6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1975},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>ball_animal6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1975},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>ball_animal7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1841},{150,115}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{150,115}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1825},{146,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,141}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1113},{136,145}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1113},{144,129}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{144,129}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1825},{148,125}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{148,125}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1841},{150,115}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{150,115}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1825},{148,125}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{148,125}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1113},{144,129}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{144,129}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1825},{146,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,141}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1113},{136,145}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1825},{146,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,141}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1113},{136,145}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1825},{146,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{146,141}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
            <key>ball_animal7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1113},{136,145}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{150,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal1.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff70a2d1b2bf4e1fc1477f759df06db$</string>
            <key>textureFileName</key>
            <string>animal1.pvr</string>
        </dict>
    </dict>
</plist>
