<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_animal10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,401},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,401},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,800},{393,833}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{393,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{379,833}}</string>
                <key>offset</key>
                <string>{-9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{379,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{379,833}}</string>
                <key>offset</key>
                <string>{-9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{379,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,800},{393,833}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{393,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,401},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,401},{397,833}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1177,1163}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1177,1163}}</string>
                <key>sourceSize</key>
                <string>{1183,1163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal5.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd0007e7b149ce99cacc64d8dbb3390$</string>
            <key>textureFileName</key>
            <string>animal5.pvr</string>
        </dict>
    </dict>
</plist>
