<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_animal14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,864},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,433},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1295},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,864},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1295},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1295},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,433},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,433},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,864},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1295},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,2},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,433},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,864},{407,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,429}}</string>
                <key>sourceSize</key>
                <string>{407,429}</string>
            </dict>
            <key>ball_animal7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1726},{185,141}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{185,141}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1726},{167,179}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,179}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{181,175}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{181,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1726},{177,159}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{177,159}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1726},{183,155}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{183,155}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1726},{185,141}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{185,141}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1726},{183,155}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{183,155}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1726},{177,159}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{177,159}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1726},{167,179}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,179}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{181,175}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{181,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1726},{167,179}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,179}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{181,175}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{181,175}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1726},{167,179}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,179}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
            <key>ball_animal7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1726},{167,179}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,179}}</string>
                <key>sourceSize</key>
                <string>{185,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal7.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a4f21a6212ac6045a9a43c5e7f81d8$</string>
            <key>textureFileName</key>
            <string>animal7.pvr</string>
        </dict>
    </dict>
</plist>
