<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_animal10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{345,963}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,963}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{369,833}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{369,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{357,957}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{357,957}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{345,963}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,963}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{357,957}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{357,957}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{369,833}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{369,833}}</string>
                <key>sourceSize</key>
                <string>{397,969}</string>
            </dict>
            <key>ball_animal13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1230},{374,582}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{374,582}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,616},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,616},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,992},{374,582}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{374,582}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{374,568}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,43},{374,568}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1368},{374,576}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{374,576}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,378},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,616},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,616},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal13_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{374,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,612}}</string>
                <key>sourceSize</key>
                <string>{374,612}</string>
            </dict>
            <key>ball_animal9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,837},{458,711}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{458,711}}</string>
                <key>sourceSize</key>
                <string>{458,767}</string>
            </dict>
            <key>ball_animal9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1550},{458,711}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{458,711}}</string>
                <key>sourceSize</key>
                <string>{458,767}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animal4.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a816615be38390b8ce8aa4fc3aa679b$</string>
            <key>textureFileName</key>
            <string>animal4.pvr</string>
        </dict>
    </dict>
</plist>
