<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_bang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{164,163}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,84},{164,163}}</string>
                <key>sourceSize</key>
                <string>{306,307}</string>
            </dict>
            <key>ball_bang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{244,219}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{244,219}}</string>
                <key>sourceSize</key>
                <string>{306,307}</string>
            </dict>
            <key>ball_bang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,299}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,299}}</string>
                <key>sourceSize</key>
                <string>{306,307}</string>
            </dict>
            <key>ball_bang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{164,163}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,84},{164,163}}</string>
                <key>sourceSize</key>
                <string>{306,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball_bang.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a82d5e91fffa05bc751f657493e11125$</string>
            <key>textureFileName</key>
            <string>ball_bang.pvr</string>
        </dict>
    </dict>
</plist>
