<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opemovie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opemovie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opemovie12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opemovie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1028},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openmovie3.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa8e5eb2144c37cd83cab76c810a07b$</string>
            <key>textureFileName</key>
            <string>openmovie3.pvr</string>
        </dict>
    </dict>
</plist>
