<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opbus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1741},{295,202}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,202}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,1151},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1731},{295,200}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,200}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,830},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus5.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1741},{295,202}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,202}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus6.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1529},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1731},{295,200}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,200}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus8.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1317},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opdoor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1028},{118,287}}</string>
                <key>offset</key>
                <string>{173,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,294},{118,287}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1599},{130,289}}</string>
                <key>offset</key>
                <string>{167,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,272},{130,289}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1577},{144,289}}</string>
                <key>offset</key>
                <string>{160,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,250},{144,289}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1028},{158,353}}</string>
                <key>offset</key>
                <string>{153,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,228},{158,353}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor16.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1143},{172,373}}</string>
                <key>offset</key>
                <string>{146,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,208},{172,373}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1577},{186,393}}</string>
                <key>offset</key>
                <string>{139,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,188},{186,393}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1028},{202,413}}</string>
                <key>offset</key>
                <string>{131,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,168},{202,413}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,413},{218,415}}</string>
                <key>offset</key>
                <string>{123,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,150},{218,415}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{240,409}}</string>
                <key>offset</key>
                <string>{112,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,133},{240,409}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1148},{268,401}}</string>
                <key>offset</key>
                <string>{98,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,118},{268,401}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1599},{294,395}}</string>
                <key>offset</key>
                <string>{85,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,102},{294,395}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1188},{322,387}}</string>
                <key>offset</key>
                <string>{71,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,88},{322,387}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{350,377}}</string>
                <key>offset</key>
                <string>{57,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,76},{350,377}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor25.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,772},{380,369}}</string>
                <key>offset</key>
                <string>{42,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{380,369}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1232},{408,365}}</string>
                <key>offset</key>
                <string>{28,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{408,365}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1603},{438,365}}</string>
                <key>offset</key>
                <string>{13,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{438,365}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{450,365}}</string>
                <key>offset</key>
                <string>{-7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{450,365}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opsky1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opsky2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openAnimation.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df56a830c11c33cc209ce9576e8f618$</string>
            <key>textureFileName</key>
            <string>openAnimation.pvr</string>
        </dict>
    </dict>
</plist>
