<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opbus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,772},{295,202}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,202}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1771},{295,200}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,200}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,806},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1771},{295,200}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,200}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1784},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1127},{295,200}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{295,200}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opbus8.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1813},{319,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,210}}</string>
                <key>sourceSize</key>
                <string>{319,210}</string>
            </dict>
            <key>opdoor12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{96,119}}</string>
                <key>offset</key>
                <string>{184,-231}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,462},{96,119}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1276},{114,125}}</string>
                <key>offset</key>
                <string>{175,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,436},{114,125}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1158},{116,137}}</string>
                <key>offset</key>
                <string>{174,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,399},{116,137}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1028},{128,137}}</string>
                <key>offset</key>
                <string>{168,-158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,380},{128,137}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,327},{150,225}}</string>
                <key>offset</key>
                <string>{157,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,356},{150,225}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor17.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1776},{166,269}}</string>
                <key>offset</key>
                <string>{149,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,312},{166,269}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor18.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,772},{186,315}}</string>
                <key>offset</key>
                <string>{139,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,266},{186,315}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor19.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1457},{194,325}}</string>
                <key>offset</key>
                <string>{135,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,241},{194,325}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,479},{214,325}}</string>
                <key>offset</key>
                <string>{125,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,215},{214,325}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{230,323}}</string>
                <key>offset</key>
                <string>{117,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,196},{230,323}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{252,323}}</string>
                <key>offset</key>
                <string>{106,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,176},{252,323}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor23.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1127},{272,323}}</string>
                <key>offset</key>
                <string>{96,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,152},{272,323}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor24.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1127},{292,321}}</string>
                <key>offset</key>
                <string>{86,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,132},{292,321}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1450},{308,319}}</string>
                <key>offset</key>
                <string>{78,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,112},{308,319}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor26.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1127},{328,315}}</string>
                <key>offset</key>
                <string>{68,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,94},{328,315}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{348,315}}</string>
                <key>offset</key>
                <string>{57,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,78},{348,315}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1477},{340,311}}</string>
                <key>offset</key>
                <string>{32,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,60},{340,311}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor29.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1477},{334,311}}</string>
                <key>offset</key>
                <string>{4,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,43},{334,311}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor30.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,772},{326,307}}</string>
                <key>offset</key>
                <string>{-20,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,29},{326,307}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1452},{322,305}}</string>
                <key>offset</key>
                <string>{-48,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{322,305}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1127},{316,303}}</string>
                <key>offset</key>
                <string>{-74,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,303}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1127},{316,303}}</string>
                <key>offset</key>
                <string>{-74,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,303}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opsky1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opsky2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openani1.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b37afab4401d133ad4e57521f06cc4c$</string>
            <key>textureFileName</key>
            <string>openani1.pvr</string>
        </dict>
    </dict>
</plist>
