<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opdoor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor10.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,210},{88,273}}</string>
                <key>offset</key>
                <string>{158,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,294},{88,273}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor11.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,300},{78,261}}</string>
                <key>offset</key>
                <string>{152,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,294},{78,261}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,300},{10,13}}</string>
                <key>offset</key>
                <string>{186,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,294},{10,13}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,355}}</string>
                <key>offset</key>
                <string>{5,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{370,355}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,300},{78,261}}</string>
                <key>offset</key>
                <string>{152,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,294},{78,261}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor30.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{362,309}}</string>
                <key>offset</key>
                <string>{-20,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{362,309}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor31.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,313},{356,307}}</string>
                <key>offset</key>
                <string>{-46,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{356,307}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{334,305}}</string>
                <key>offset</key>
                <string>{-65,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,305}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{334,305}}</string>
                <key>offset</key>
                <string>{-65,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,305}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,300},{10,13}}</string>
                <key>offset</key>
                <string>{186,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,294},{10,13}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,300},{10,13}}</string>
                <key>offset</key>
                <string>{186,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,294},{10,13}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,312},{62,11}}</string>
                <key>offset</key>
                <string>{144,-259}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,544},{62,11}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opdoor9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,118},{90,273}}</string>
                <key>offset</key>
                <string>{159,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,294},{90,273}}</string>
                <key>sourceSize</key>
                <string>{464,581}</string>
            </dict>
            <key>opstart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{318,142}}</string>
                <key>offset</key>
                <string>{14,-273}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,586},{318,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opstart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,666},{312,126}}</string>
                <key>offset</key>
                <string>{16,-277}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,598},{312,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>opstart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{282,114}}</string>
                <key>offset</key>
                <string>{20,-281}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,608},{282,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openAnimation2.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed81e9a1beedddca82f023f05894a2f1$</string>
            <key>textureFileName</key>
            <string>openAnimation2.pvr</string>
        </dict>
    </dict>
</plist>
