<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>myzoo_picture2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,734},{994,764}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{994,764}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>myzoo_picture3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1002,730}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{1002,730}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>myzoo_picture4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{958,768}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{958,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>myzoo_picture5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1014,746}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{1014,746}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>padback-2.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a03a839683af1b66314515255401a5$</string>
            <key>textureFileName</key>
            <string>padback-2.pvr</string>
        </dict>
    </dict>
</plist>
