<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>myzoo_background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,758},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>myzoo_background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>myzoo_list1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,850},{144,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,94}}</string>
                <key>sourceSize</key>
                <string>{144,94}</string>
            </dict>
            <key>myzoo_list10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1926},{117,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,82}}</string>
                <key>sourceSize</key>
                <string>{117,82}</string>
            </dict>
            <key>myzoo_list11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1642},{130,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,95}}</string>
                <key>sourceSize</key>
                <string>{130,95}</string>
            </dict>
            <key>myzoo_list12.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1642},{131,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,79}}</string>
                <key>sourceSize</key>
                <string>{131,79}</string>
            </dict>
            <key>myzoo_list13.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,927},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>myzoo_list14.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1784},{151,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,84}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>myzoo_list15.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1028},{125,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,75}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>myzoo_list16.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1975},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>myzoo_list17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1975},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>myzoo_list18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1770},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>myzoo_list19.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1975},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>myzoo_list2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1672},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>myzoo_list20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1975},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>myzoo_list21.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1147},{110,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>myzoo_list22.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1155},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>myzoo_list3.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,987},{158,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,111}}</string>
                <key>sourceSize</key>
                <string>{158,111}</string>
            </dict>
            <key>myzoo_list4.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,772},{131,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,115}}</string>
                <key>sourceSize</key>
                <string>{131,115}</string>
            </dict>
            <key>myzoo_list5.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1642},{98,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,95}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>myzoo_list6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1824},{85,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,100}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>myzoo_list7.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1230},{73,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>myzoo_list8.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1784},{158,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,82}}</string>
                <key>sourceSize</key>
                <string>{158,82}</string>
            </dict>
            <key>myzoo_list9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1180},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>myzoo_photo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1975},{66,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>myzoo_photo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1975},{64,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>myzoo_picture1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1004,754}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{1004,754}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>myzoo_sign_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1975},{73,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>myzoo_sign_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1975},{71,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,61}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>myzoo_sign_next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1975},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>myzoo_sign_next2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1975},{70,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{70,62}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>myzoo_sign_restarting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1975},{66,65}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>myzoo_sign_restarting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1975},{62,69}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>myzoo_sign_stay.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1975},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>myzoo_sign_stay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1975},{66,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>myzoo_sign_stay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1975},{64,61}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{64,61}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>myzoo_thing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,946},{142,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,89}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>myzoo_thing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,905},{113,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,80}}</string>
                <key>sourceSize</key>
                <string>{113,80}</string>
            </dict>
            <key>myzoo_thing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1533},{196,137}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,137}}</string>
                <key>sourceSize</key>
                <string>{198,141}</string>
            </dict>
            <key>myzoo_thing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1642},{126,75}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>myzoo_thing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,772},{97,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,76}}</string>
                <key>sourceSize</key>
                <string>{97,76}</string>
            </dict>
            <key>myzoo_thing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,772},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>myzoo_thing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1975},{123,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,68}}</string>
                <key>sourceSize</key>
                <string>{123,70}</string>
            </dict>
            <key>myzoo_thing16.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,853},{83,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>myzoo_thing17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1975},{137,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,57}}</string>
                <key>sourceSize</key>
                <string>{137,57}</string>
            </dict>
            <key>myzoo_thing18.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1642},{127,126}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
            <key>myzoo_thing19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1246},{53,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>myzoo_thing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1642},{127,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,119}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>myzoo_thing20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,1533},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>myzoo_thing21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1975},{103,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{103,56}}</string>
                <key>sourceSize</key>
                <string>{107,58}</string>
            </dict>
            <key>myzoo_thing22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,1615},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>myzoo_thing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1212},{428,289}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,289}}</string>
                <key>sourceSize</key>
                <string>{434,289}</string>
            </dict>
            <key>myzoo_thing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,758},{237,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,217}}</string>
                <key>sourceSize</key>
                <string>{237,217}</string>
            </dict>
            <key>myzoo_thing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{136,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,141}}</string>
                <key>sourceSize</key>
                <string>{136,141}</string>
            </dict>
            <key>myzoo_thing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1246},{205,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,285}}</string>
                <key>sourceSize</key>
                <string>{205,285}</string>
            </dict>
            <key>myzoo_thing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1672},{159,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,301}}</string>
                <key>sourceSize</key>
                <string>{159,301}</string>
            </dict>
            <key>myzoo_thing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,977},{217,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,201}}</string>
                <key>sourceSize</key>
                <string>{217,201}</string>
            </dict>
            <key>myzoo_thing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{561,165}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{561,165}}</string>
                <key>sourceSize</key>
                <string>{571,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>padpic-1.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f72eebbc9ef3d6fa34178037d704639$</string>
            <key>textureFileName</key>
            <string>padpic-1.pvr</string>
        </dict>
    </dict>
</plist>
