<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigrun-land02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1286,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1286,148}}</string>
                <key>sourceSize</key>
                <string>{1286,148}</string>
            </dict>
            <key>pigrun-land03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{1009,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1009,420}}</string>
                <key>sourceSize</key>
                <string>{1009,420}</string>
            </dict>
            <key>pigrun-land04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{1175,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1175,148}}</string>
                <key>sourceSize</key>
                <string>{1175,148}</string>
            </dict>
            <key>pigrun-land05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{1262,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1262,214}}</string>
                <key>sourceSize</key>
                <string>{1262,214}</string>
            </dict>
            <key>pigrun-land06-long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{1251,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1251,421}}</string>
                <key>sourceSize</key>
                <string>{1251,421}</string>
            </dict>
            <key>pigrun-land07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{1146,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1146,149}}</string>
                <key>sourceSize</key>
                <string>{1146,149}</string>
            </dict>
            <key>pigrun-land08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,368},{153,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,82}}</string>
                <key>sourceSize</key>
                <string>{153,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_land_long.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:affe50bef507d5657e7f0f6bc6d9e19e$</string>
            <key>textureFileName</key>
            <string>pig_land_long.pvr</string>
        </dict>
    </dict>
</plist>
