<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigrun-pig01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,173}}</string>
                <key>sourceSize</key>
                <string>{248,173}</string>
            </dict>
            <key>pigrun-pig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{238,173}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{238,173}}</string>
                <key>sourceSize</key>
                <string>{248,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_pig.pvr</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecc6b69e1249bcee5f692c154c02d813$</string>
            <key>textureFileName</key>
            <string>pig_pig.pvr</string>
        </dict>
    </dict>
</plist>
