<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pigrun-land06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{1087,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1087,421}}</string>
                <key>sourceSize</key>
                <string>{1087,421}</string>
            </dict>
            <key>pigrun-land17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{1124,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1124,373}}</string>
                <key>sourceSize</key>
                <string>{1124,373}</string>
            </dict>
            <key>pigrun-land18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1274,214}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1274,214}}</string>
                <key>sourceSize</key>
                <string>{1290,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_land_car_long.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3b07e4589f4c810e529015683ca6a61$</string>
            <key>textureFileName</key>
            <string>pig_land_car_long.pvr</string>
        </dict>
    </dict>
</plist>
