<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pigrun-land13.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,668},{207,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,275}}</string>
			<key>sourceSize</key>
			<string>{207,275}</string>
		</dict>
		<key>pigrun-land14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1002,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1002,138}}</string>
			<key>sourceSize</key>
			<string>{1002,138}</string>
		</dict>
		<key>pigrun-land15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,517},{455,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,63}}</string>
			<key>sourceSize</key>
			<string>{455,63}</string>
		</dict>
		<key>pigrun-land16.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,668},{337,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,63}}</string>
			<key>sourceSize</key>
			<string>{337,63}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pig_land_car2.pvr</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3a04a00afd987c66de3348b157044af4$</string>
		<key>textureFileName</key>
		<string>pig_land_car2.pvr</string>
	</dict>
</dict>
</plist>
