<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>switch2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 55}, {85, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{85, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {85, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 55}, {51, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{51, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 46}, {51, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 55}, {59, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{59, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 46}, {59, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 55}, {67, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{67, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 23}, {67, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 55}, {71, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{71, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 23}, {71, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 55}, {79, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{79, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {79, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 55}, {79, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{79, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{87, 0}, {79, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 55}, {71, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{71, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 23}, {71, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 55}, {67, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{67, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 46}, {67, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 55}, {59, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{59, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 46}, {59, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 55}, {51, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{51, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 69}, {51, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 55}, {39, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{39, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 23}, {39, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 55}, {27, 21}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{27, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 69}, {27, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>switch2-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 55}, {39, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{39, 21}</string>
			<key>spriteSourceSize</key>
			<string>{133, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{53, 69}, {39, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>switch1</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>switch1_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>switch1_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>