<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish_water33.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1250},{736,572}}</string>
                <key>offset</key>
                <string>{-71,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,113},{736,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1250},{736,568}}</string>
                <key>offset</key>
                <string>{-69,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,113},{736,568}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{740,572}}</string>
                <key>offset</key>
                <string>{-68,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,113},{740,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water36.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{742,622}}</string>
                <key>offset</key>
                <string>{-67,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,113},{742,622}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{740,622}}</string>
                <key>offset</key>
                <string>{-68,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,113},{740,622}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water38.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,626},{740,622}}</string>
                <key>offset</key>
                <string>{-68,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,113},{740,622}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{904,624}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{904,624}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watertp3.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce7b612caaf1520f620a0da5f6a8899c$</string>
            <key>textureFileName</key>
            <string>watertp3.pvr</string>
        </dict>
    </dict>
</plist>
