<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish_water21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,576},{408,572}}</string>
                <key>offset</key>
                <string>{-235,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,113},{408,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1450},{432,568}}</string>
                <key>offset</key>
                <string>{-221,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,113},{432,568}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water23.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1456},{438,572}}</string>
                <key>offset</key>
                <string>{-220,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{438,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{438,572}}</string>
                <key>offset</key>
                <string>{-220,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{438,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water25.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1450},{436,568}}</string>
                <key>offset</key>
                <string>{-219,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,113},{436,568}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{438,572}}</string>
                <key>offset</key>
                <string>{-220,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,113},{438,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{438,572}}</string>
                <key>offset</key>
                <string>{-219,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,113},{438,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,986},{462,568}}</string>
                <key>offset</key>
                <string>{-207,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,113},{462,568}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water29.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,572},{566,572}}</string>
                <key>offset</key>
                <string>{-156,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,113},{566,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{588,572}}</string>
                <key>offset</key>
                <string>{-145,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{588,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water31.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{654,568}}</string>
                <key>offset</key>
                <string>{-111,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,113},{654,568}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,572}}</string>
                <key>offset</key>
                <string>{-85,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{708,572}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watertp2.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2afb3cccdc2e02119c284a5846092cd1$</string>
            <key>textureFileName</key>
            <string>watertp2.pvr</string>
        </dict>
    </dict>
</plist>
