<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish_water40.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1258},{920,628}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,113},{920,628}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water41.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{930,626}}</string>
                <key>offset</key>
                <string>{27,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{930,626}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{936,626}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{936,626}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{936,626}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{936,626}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{934,626}}</string>
                <key>offset</key>
                <string>{28,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,114},{934,626}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fish_water45.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,630},{936,626}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,114},{936,626}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watertp4.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7896a63ee4c81f9f1b2b9124b67dc4a0$</string>
            <key>textureFileName</key>
            <string>watertp4.pvr</string>
        </dict>
    </dict>
</plist>
